#divFundTransfer a {
    color: blue;
    text-decoration: underline;
}

.eftMenu {
    border: none;
    background: none;
    text-align: center;
    font-size: 12px;
}

.eft_topTitleBar {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    line-height: 15px;
    padding: 4px 5px 4px 5px;
    background-color: #003B7F;
    height: 23px;
}

.btnGray {
    background: url('../../images/btn_gray_bg_l.gif') left top no-repeat, url('../../images/btn_gray_bg_r.gif') right top no-repeat, url('../../images/btn_gray_bg_m.gif') left top repeat-x;
    color: white;
    display: inline-block;
    padding: 0px 20px 0px 20px;
    height: 21px;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    border: none;
}

.btnGray:hover {
    background: url('../../images/btn_gray_on_l.gif') left top no-repeat, url('../../images/btn_gray_on_r.gif') right top no-repeat, url('../../images/btn_gray_on_m.gif') left top repeat-x;
    height: 21px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.btnGray:disabled {
    background: url('../../images/btn_gray_on_l.gif') left top no-repeat, url('../../images/btn_gray_on_r.gif') right top no-repeat, url('../../images/btn_gray_on_m.gif') left top repeat-x;
    cursor: not-allowed;
}

.eft_item {
    background-color: #EEEEEE;
    display: block;
    overflow-x: hidden;
}

.eft_item_l {
    padding: 15px 15px 5px 15px;
    float: left;
    width: 20%;
    position: relative;
    box-sizing: border-box;
}

.eft_item_r {
    padding: 15px 15px 5px 15px;
    float: left;
    width: 70%;
    position: relative;
    box-sizing: border-box;
}

.eft_bottom {
    float:left;
    /* margin-top:10px; */
    padding: 10px 0px 0px 0px;
    border-top: solid #003B7F;
    height: 29px;
    background-color: white;
    min-width: 740px;
    border-bottom: #FFDE00 solid 2px;
}

.eft_bottom_l {
    width: 380px;
    float: left;
}

.eft_bottom_r {
    width: 360px;
    left: 50%;
    right: 50%;
    float: left;
    margin-bottom: 10px;
    text-align: right;
}

.eft_banklist_header {
    padding: 5px;
    background-color: #A4A3A3;
    color: white;
}

.eft_banklist_code {
    padding: 5px;
    text-align: center;
    background-color: #E4E6E5;
    width: 60px;
    border-bottom: 1px solid #A8A7A8;
}

.eft_banklist_bank {
    padding: 5px 10px 5px 10px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #A8A7A8;
}

.eft_base {
    width: 740px;
    /* max-height: 745px; */
    background-color: #FFF;
    border-top: #FFDE00 solid 2px;
    overflow-y: auto;
}

.popupNav {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 11px;
    color: #666666 !important;
    line-height: 15px;
    text-decoration: none;
    padding: 8px 10px 8px 10px;
}

.popupNav:hover {
    color: #003B7F;
    text-decoration: none;
    cursor: pointer;
}

.inputField4 {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    line-height: 15px;
    border: 1px solid #B6B6B6;
    height: 16px;
    width: 307px;
}

.eft_link_fps {
    cursor: pointer;
}

.eft_link_fps:hover {
    box-shadow: 0 0 0pt 2px #07B3FE;
    cursor: pointer;
}

.eft_link_fps_active {
    box-shadow: 0 0 0pt 2px #07B3FE;
}

.otpCode {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: black solid 1px;
    height: 30px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    margin: 0px 8px 0px 8px;
    padding: 5px 0px 5px 0px;
    font: 30px consolas, monospace;
}

.otpCode:focus {
    outline: none;
}

.urlDisabled {
    color: grey !important;
    cursor: not-allowed;
    text-decoration: none !important;
}

.urlEnabled {
    text-decoration: underline !important;
}

.disclaimerLinkCellLeft {
    display: table-cell;
    padding: 0px 8px 0px 0px;
    min-width: 24px;
}

.disclaimerLinkCellRight {
    display: table-cell;
}

.disclaimerLink {
    min-width: 500px;
    padding: 0px 0px 20px 0px;
}

.biggerFont {
    font-size: 14px;
    line-height: 120%;
}

.eft_link_rejected {
    color: #E20004;
    border: #E20004 solid 1px;
    margin: 5px 0px 5px 0px;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.eft_link_pending {
    margin: 5px 0px 10px 0px;
    padding: 0px 8px 0px 8px;
}

.eft_deposit_nba {
    padding-bottom: 10px; 
    width:265px;
}

.eft_separater {
    content: "";
    display: block;
    margin: 5px 15px 5px 15px;
    width: 710px;
    border-bottom: 1px solid darkgrey;
    float:left;
}

.eft_rd {
    vertical-align:middle; 
    margin-left:0px; 
    float:left;
}

.eft_rd_label {
    display: block;
    padding-left: 20px;
    width: 200px;
}

.eft_rd_label_method {
    display: inline-block;
    width: 450px;
}

.eft_deposit_selection {
    float:left;
    padding:5px;
    text-align: center;
    border: solid 1px black;
    border-radius: 5px;
    margin:0px 10px 0px 0px;
    width:265px;
    cursor: pointer;
}

.eft_deposit_selection_selected {
    background-color: #0D9BD9;
    color: white;
    border: 0px;
}

.eft_deposit_selection_disabled {
    border: solid 1px #AEABA7;
    color: #AEABA7;
    background-color: transparent;
    cursor: not-allowed;
}

.eft_deposit_group {
    margin: 15px 15px 0px 0px; 
    float:left; 
    position: relative; 
    width:80%;
}

.eft_transaction_method_list {
    margin: 15px 15px 0px 0px; 
    float: left; 
    position: relative; 
    box-sizing: border-box;
    width:570px;
}