
a {
	color: #4D822D;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}


.red {
	color: #CC0000;
}

.vs {
	color: #333333;
}

.vs:hover {
	text-decoration:underline;
}

.topTitleBar {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 15px;
	padding: 4px 5px 4px 5px;
	background-color: #65AB3B;
	height: 30px;
}

.titleBar {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 15px;
	padding: 7px 5px 7px 10px;
	background-color: #65AB3B;
	border-bottom: 1px solid #FFFFFF;
}

.subTitleBar {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 15px;
	padding: 2px 7px 2px 10px;
	background-color: #DDEBD4;
	border-bottom: 1px solid #FFFFFF;
}

#mainTable {
	border-bottom: 3px solid #65AB3B;
}

.tgMl {
	/*width: 85px;*/
	float: right;
}

.secMenu {
  display: table;
  width:750px;
  background-color: #FFFFFF;
  margin: 0px 6px 0px 6px;
  padding: 7px 7px 7px 7px;
}

.secMenuTR {
  display: table-row;
}

.secTable {
  display: table;
  width:100%;
}

.secMenuLine {
  background-color:#65AB3B;
  display: block;
  width:100%;
  height:3px;
}

#secMenuHR {
  background-image: url('/info/include/images/en/btn_racing_off.gif');
  background-repeat: no-repeat;
  display: table-cell;
  width: 52px;
  height: 40px;
  padding-left:1px;
}

#secMenuHR:hover {
   background-image: url('/info/include/images/en/btn_racing_over.gif');
   cursor:pointer;
}

#secMenuFB {
  background-image: url('/info/include/images/en/btn_football_on.gif');
  background-repeat: no-repeat;
  display: table-cell;
  width: 52px;
  height: 40px;
  padding-left:1px;
}

#secMenuFB:hover {
   cursor:pointer;
}

#secMenuM6 {
  background-image: url('/info/include/images/en/btn_marksix_off.gif');
  background-repeat: no-repeat;
  display: table-cell;
  width: 52px;
  height: 40px;
  padding-left:1px;
}

#secMenuM6:hover {
   background-image: url('/info/include/images/en/btn_marksix_over.gif');
   cursor:pointer;
}

#secMenu3in1 {
  background-image: url('/info/include/images/en/btn_ewin_off.gif');
  background-repeat: no-repeat;
  display: table-cell;
  width: 53px;
  height: 40px;
  padding-left:1px;
}

#secMenu3in1:hover {
  background-image: url('/info/include/images/en/btn_ewin_over.gif');
   cursor:pointer;
}

.showallButton {
  background-image: url('/football/info/images/en/btn_showall_off.gif');
  background-repeat: no-repeat;
  display: table-cell;
  width: 71px;
  height: 21px;
}

.showallButton:hover {
   background-image: url('/football/info/images/en/btn_showall_on.gif');
   cursor:pointer;
}

.sellonlyButton {
  background-image: url('/football/info/images/en/btn_sellonly_off.gif');
  background-repeat: no-repeat;
  display: table-cell;
  width: 71px;
  height: 21px;
}

.sellonlyButton:hover {
   background-image: url('/football/info/images/en/btn_sellonly_on.gif');
   cursor:pointer;
}

.resetButton {
  background-image: url('/contentserver/jcbw/images/en/btn_reset.gif');
  background-repeat: no-repeat;
  display: inline-block;
  margin:3px 0px 0px 0px;
  width: 71px;
  height: 21px;
}

.resetButton:hover {
   background-image: url('/contentserver/jcbw/images/en/btn_reset_on.gif');
   cursor:pointer;
}

.divCalResetBtn {
  background-image: url('/contentserver/jcbw/images/en/btn_reset.gif');
  background-repeat: no-repeat;
  display: inline-block;
  margin: 10px 0px 0px 5px;
  width: 71px;
  height: 21px;
}

.divCalResetBtn:hover {
   background-image: url('/contentserver/jcbw/images/en/btn_reset_on.gif');
   cursor:pointer;
}

.divCalRemarks {
	border-top: 3px solid #65AB3B;
	margin: 10px 0px 0px 0px;
	padding: 5px 0px 0px 0px;
}

.calButton {
  background-image: url('/contentserver/jcbw/images/en/btn_calculate.gif');
  background-repeat: no-repeat;
  display: inline-block;
  margin:3px 0px 0px 0px;
  width: 71px;
  height: 21px;
}

.calButton:hover {
   background-image: url('/contentserver/jcbw/images/en/btn_calculate_on.gif');
   cursor:pointer;
}

.dhcpDtlsButton {
  background-image: url('/contentserver/jcbw/images/en/btn_details.gif');
  background-repeat: no-repeat;
  display: inline-block;
  margin:3px 0px 0px 0px;
  width: 71px;
  height: 21px;
}

.dhcpDtlsButton:hover {
   background-image: url('/contentserver/jcbw/images/en/btn_details_on.gif');
   cursor:pointer;
}

.hfmpRandomButton {
  background-image: url('/contentserver/jcbw/images/en/btn_random4.gif');
  background-repeat: no-repeat;
  display: inline-block;
  margin:0px 5px 0px 0px;
  width: 108px;
  height: 21px;
}

.hfmpRandomButton:hover {
   background-image: url('/contentserver/jcbw/images/en/btn_random4_on.gif');
   cursor:pointer;
}

.divCalHeader {
	background: url('/contentserver/jcbw/images/stroke_yellow.gif') no-repeat;
	background-color: #65AB3B;
	background-position: left 5px top 7px;
	color: #FFFFFF;
	width: 714px;
	height: 15px;
	padding: 7px 5px 8px 15px;
}

.divCalPrint {
	background: url('/contentserver/jcbw/images/icon_print.gif') no-repeat;
	background-position: right 0px top 0px;
	width: 45px;
	height: 15px;
}

.divCalPrint:hover {
	cursor: pointer;
}

.divCalSubHeader {
	padding: 5px 5px 5px 5px;
	background-color: #E5E5E5;
	color: #333333;
	width: 724px;
	height: 37px;
	line-height: 37px;
}

#divCalTable {
	display: table;
	width: 634px;
}

#divCalResult {
	display: table;
	margin: 10px 0px 0px 0px;
}

.divCalRow {
	display: table-row;
}

.divCalTableHead {
	display: table-cell;
    color: #333333;
    line-height: 15px;
	text-align: center;
	vertical-align: middle;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
}

.divCalTableCellLeft {
	display: table-cell;
    color: #333333;
    line-height: 15px;
	vertical-align: middle;
    text-decoration: none;
    padding: 2px 5px 2px 5px;
    border-right: 1px solid #FFFFFF;
}

.divCalTableCellCenter {
	display: table-cell;
    color: #333333;
    line-height: 15px;
	text-align: center;
	vertical-align: middle;
    text-decoration: none;
    padding: 2px 5px 2px 5px;
    border-right: 1px solid #FFFFFF;
}

.divCalTableBg1 {
	background-color: #EEEEEE;
}

.divCalTableBg2 {
	background-color: #FFFFFF;
}

.divCalResultHeadCell {
	display: table-cell;
	color: #333333;
    line-height: 15px;
	text-align: center;
    background-color: #EBEBEB;
	padding: 2px 0px 2px 0px;
	border-right: 1px solid #FFFFFF;
}


.divCalResultCell {
	display: table-cell;
	color: #333333;
    line-height: 15px;
	text-align: center;
	padding: 2px 0px 2px 0px;
	border-right: 1px solid #FFFFFF;
}

#divCalMsg {
	margin: 10px 0px 0px 5px;
	color: #CC0000;
}

.divCalButton {
	padding: 5px 0px 0px 0px;
}

.divCalBtn {
	display: inline-block;
	color: #FFFFFF;
	line-height: 12px;
	text-decoration: none;
	text-align: center;
	border:1px solid #225411;
	background-color:#65AB3B;
	width: 48px;
	height: 14px;
	padding: 2px 0px 0px 0px;
}

.divCalYesIcon {
	background: url('/football/info/images/btn_yes.gif') no-repeat;
	position: relative;
	left: 50%;
	margin-left: -18px;
	width: 36px;
	height: 16px;
}

.divCalNoIcon {
	background: url('/football/info/images/btn_no.gif') no-repeat;
	position: relative;
	left: 50%;
	margin-left: -18px;
	width: 36px;
	height: 16px;
}

.divCalDelBtn {
	background: url('/football/info/images/en/btn_allup_delete.gif') no-repeat;
	position: relative;
	left: 50%;
	margin-left: -21px;
	width: 42px;
	height: 16px;
}

.divCalBtn:hover, .divCalYesIcon:hover, .divCalNoIcon:hover, .divCalDelBtn:hover {
	cursor: pointer;
}

.dhcpCalTableCell1 {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 2px 5px 1px 4px;
}

.dhcpCalTableCell2 {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 2px 5px 1px 4px;
    background-color: #EEEEEE;
}

.dhcpCalInnerCell {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 2px 5px 1px 4px;
	border-left: 1px solid #FFFFFF;
}

.dhcpCalInnerCell2 {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 2px 13px 1px 12px;
	border-left: 1px solid #FFFFFF;
}

.dhcpCalLeg {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #333333;
    padding: 4px 7px 4px 10px;
    background-color: #E5E5E5;
}

.dhcpCalSel {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.dhcpCalBtn {
	color: #FFFFFF;
	line-height: 16px;
	text-decoration: none;
	border:1px solid #225411;
	background-color:#65AB3B;
	width: 34px;
	height: 15px;
	cursor:pointer;
}

.dhcpCalBtnOn {
	color: #333333;
	line-height: 16px;
	text-decoration: none;
	border:1px solid #333333;
	background-color:#FCF3D9;
	width: 34px;
	height: 15px;
	cursor:pointer;
}

.dhcpCalSubTitleBar {
    color: #333333;
    font-weight: bold;
	width: 676px;
	margin: 10px 0px 0px 0px;
    padding: 7px 0px 7px 10px;
    background-color: #DDEBD4;
}

.dhcpCalResultHeadCell {
	display: table-cell;
	width: 228px;
	color: #333333;
	text-align: center;
	padding: 4px 0px 4px 0px;
    background-color: #E5E5E5;
	border-right: 1px solid #FFFFFF;
}

.dhcpCalResultCell {
	display: table-cell;
	color: #333333;
	text-align: center;
	padding: 4px 0px 4px 0px;
	height:25px;
	border-right: 1px solid #FFFFFF;
}

.dhcpCalRemarks {
    width: 676px;
    background-color: #F8F8F8;
    text-align: left;
	margin: 5px 0px 0px 0px;
    padding: 5px 7px 5px 5px;
    border-top: 2px solid #65AB3B;
}

.dhcpDtlsHeadLeg {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #333333;
    width: 90px;
}

.dhcpDtlsHeadComb {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #333333;
}

.dhcpDtlsSubHead1 {
	border-bottom: 1px solid #CCCCCC;
	padding: 5px 0px 5px 0px;
}

.dhcpDtlsSubHead2 {
	display: table-cell;
	width: 300px;
	padding: 5px 0px 5px 0px;
}

.dhcpDtlsCellLeft1 {
	display: table-cell;
	text-align: center;
	padding: 2px 0px 2px 0px;
	background-color: #E5E5E5;
	color: #333333;
	border-top: 1px solid #CCCCCC;
    width: 90px;
}

.dhcpDtlsCell1 {
	display: table-cell;
	color: #333333;
	text-align: center;
	padding: 2px 0px 2px 0px;
    background-color: #E5E5E5;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #FFFFFF;
	width: 300px;
}

.dhcpDtlsCellLeft2 {
	display: table-cell;
	text-align: center;
	padding: 2px 0px 2px 0px;
	color: #333333;
    width: 90px;
}

.dhcpDtlsCell2 {
	display: table-cell;
	color: #333333;
	text-align: center;
	padding: 2px 0px 2px 0px;
	width: 300px;
}

.dhcpDtlsResultHeadCell {
	display: table-cell;
	width: 228px;
	color: #333333;
	text-align: center;
	padding: 4px 0px 4px 0px;
	border-top: 1px solid #CCCCCC;
}

.dhcpDtlsResultCell {
	display: table-cell;
	color: #333333;
	text-align: center;
	padding: 2px 0px 2px 0px;
    background-color: #E5E5E5;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #FFFFFF;
}

#dhcpLineDtls {
	width: 690px;
}

.dhcpDtlsLineCell1 {
	display:inline-block;
	width:170px;
	color: #333333;
	text-align: center;
	padding: 2px 0px 2px 0px;
    background-color: #E5E5E5;
	border-left: 1px solid #FFFFFF;
}

.dhcpDtlsLineCell0 {
	display:inline-block;
	width:170px;
	color: #333333;
	text-align: center;
	padding: 2px 0px 2px 0px;
	border-left: 1px solid #FFFFFF;
}

.hfmpCalHead1 {
	display:table-cell;
	width:58;
	color: #333333;
	text-align: center;
	padding: 5px 0px 5px 0px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

.hfmpCalHead2 {
	display:table-cell;
	width:58px;
	color: #333333;
	text-align: center;
	padding: 5px 0px 5px 0px;
	background-color: #E5E5E5;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

.hfmpCalCell1 {
	display:table-cell;
	color: #333333;
	text-align: center;
	background-color: #E5E5E5;
	vertical-align: middle;
	padding: 2px 0px 2px 0px;
	border-left: 1px solid #FFFFFF;
}

.hfmpCalCell2 {
	display:table-cell;
	color: #333333;
	text-align: center;
	vertical-align: middle;
	padding: 2px 0px 2px 0px;
	border-left: 1px solid #FFFFFF;
}

.hfmlCalHL {
	background-color: #fffadc;
}

#info_top_block {
	width:210px;
	height:179px;
	border-bottom: #65AB3B 1px solid;
	float:left;
	margin: 0px 8px 0px 8px;
}

.info_top_frame {
	border: 0;
    margin: 0;
    width: 100%;
	height: 100%;
}