/* default style for landing page */

/* start */

body {
    background-color: #003b7f;
    margin: 0;
    padding: 0;
    text-align: left;
    color: #333333;
}

img {
    border: none;
}

/* anchor style start */

a {
    color: #386220;
}

.oddsLink {
    color: #cc0000;
    font-family: Arial;
    vertical-align: top;
    display: inline-block;
    padding-top: 1px;
    /*width: 26px;*/
    overflow: visible;
}

.oddsLinkText {
    font-family: Arial;
    vertical-align: top;
    display: inline-block;
    padding-top: 1px;
}

.utext {
    text-decoration: underline;
}

label.lblvs {
    color: #333333;
}

.refOdds {
    padding-left: 10px;
}

a:link,
a:active,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.topMenu {
    color: #99b1cc;
    font-family: Arial;
    font-size: 8pt;
}

/* anchor style end */

span.nolnk {
    color: #333333;
}

.noUL {
    text-decoration: none;
}

.noUL:hover {
    text-decoration: none;
}

.textcursor {
    cursor: text;
}

.separator {
    height: 1px;
    margin: 2px 0 2px 0;
    border-bottom: solid 1px #cccccc;
    width: 630px;
}

.whiteBottomBorder {
    border-bottom: solid 1px #ffffff;
}

.whiteRightBorder {
    border-right: solid 1px #ffffff;
}

.oddsHR {
    height: 1px;
    min-height: 1px;
    border-bottom: solid 1px #cccccc;
    padding: 0;
    margin: 0;
    width: 635px;
}

.oddsGreenHR {
    border-bottom: solid 2px #65ab3b;
    padding: 5 0 5 0;
    margin: 5 0 5 0;
    width: 635px;
}

.mixHR {
    height: 2px;
    border-bottom: solid 2px #ffcc00;
    padding: 5px 0 5px 0;
    margin: 5px 0 5px 0;
    width: 635px;
}

.trResultDetails .mixHR {
    border-bottom: solid 3px #65AB3B;
}

.endBar {
    height: 2.9px;
    background-color: #65AB3B;
    font-size: 3px;
}

.nopool,
.chpInplayLink {
    width: 630px;
    height: 150px;
    text-align: center;
}

.nopool .nopoolmsg,
.chpInplayLink .nopoolmsg {
    position: relative;
    top: 40%;
}

.divgo {
    clear: both;
    width: 500px;
    height: 100px;
}

.divRemarks {
    height: auto;
    width: 635px;
    padding: 5px 0 2px 0;
    border-top: solid 2px #65ab3b;
    background-color: #f8f8f8;
    text-align: left;
    /*text-indent:5px;*/
}

img.imgAddSlip {
    vertical-align: middle;
}

.footerAddslip {
    width: 635px;
    height: 30px;
    padding: 5px 0 2px 0;
    text-align: right;
}

/* odds menu start */

.oddsHighlight {
    background-color: #ddead8;
}

.oddsHighlight a {
    font-weight: bold;
    color: #4d822d;
}

/* odds menu end */

/* generic style for odds page start */

.spBtnMinus,
.spBtnPlus,
.mlBtnMinus,
.mlBtnPlus,
.spBtn,
.divCalBtnMinus,
.divCalBtnPlus {
    padding-top: 2px;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 0 8px 0 5px;
}

.tgCoupon .mlBtnMinus,
.tgCoupon .mlBtnPlus,
.tgCoupon span .spBtnMinus,
.tgCoupon span .spBtnPlus {
    margin: 0 2px 0 5px;
}

.tgIndMl .mlBtnMinus,
.tgIndMl .mlBtnPlus,
.tgIndMl .spBtnMinus,
.tgIndMl .spBtnPlus {
    margin: 0 2px 0 2px;
}

.spMixBtnMinus,
.spMixBtnPlus {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 0 8px 0 5px;
    vertical-align: middle;
}

.nowrap {
    white-space: nowrap;
}

.tgCoupon {
    text-align: left;
}

/* bold text */

.btext {
    font-weight: bold;
}

.btext span {
    margin-right: 3px;
}

.wtext {
    color: #ffffff;
}

.gtext {
    color: #666666;
}

/* updated odds */

.oupt {
    font-weight: bold;
    color: #fc0000;
}

/* status updated */

.stUpd {
    font-weight: bold;
    color: #cc0000;
}

div#divLoadMix {
    display: block;
    width: 580px;
    text-align: right;
}

/* toggle coupon header start */

.spBtnMinus,
.mlBtnMinus,
.divCalBtnMinus {
    background-image: url("/football/info/images/btn_close.gif");
    background-repeat: no-repeat;
}

.spBtnPlus,
.mlBtnPlus,
.divCalBtnPlus {
    background-image: url("/football/info/images/btn_open.gif");
    background-repeat: no-repeat;
}

.spMixBtnMinus {
    background-repeat: no-repeat;
    background-image: url("/football/info/images/mix_btn_close.gif");
}

.spMixBtnPlus {
    background-image: url("/football/info/images/mix_btn_open.gif");
    background-repeat: no-repeat;
}

/* toggle coupon header end */

.oddsMixAllup .tgCoupon .scoutext {
    display: inline-block;
    vertical-align: bottom;
}

.oddsMixAllup .tgCoupon .next {
    display: inline-block;
    vertical-align: bottom;
}

.nexticon {
    height: 15px;
    width: 15px;
    display: inline-block;
    cursor: pointer;
    vertical-align: bottom;
    background-image: url("/football/info/images/btn_next.gif");
}

.pointer {
    cursor: pointer;
}

/* pagination style and delimiter start */

.cpnBG {
    font-weight: bold;
}

.cpnBG,
.pnBG {
    display: inline-block;
    width: 15px;
    text-align: left;
    border-right: solid 1px #000000;
}

.ppnBG {
    display: inline-block;
    width: 15px;
    text-align: left;
    border-left: solid 1px #000000;
    padding-left: 5px;
}

.delimiter {
    display: inline-block;
    width: 5px;
    border-right: solid 1px #000000;
}

/* pagination style and delimiter end */

/* position for << and >> in pagination start */

.sOpen {}

.sClose {}

.sbOpen {}

.sbClose {}

/* position for << and >> in pagination end */

.checkedOdds {
    background-color: #fff4b0 !important;
}

.hdcwarning {
    color: #cc0000;
}

.span_vs {
    display: inline-block;
    /* margin: 0 6px 0 6px; */
    width: 30px;
    text-align: center;
}

.space {
    display: inline-block;
    width: 5px;
}

.cmid {
    text-align: center;
}

.delayMsg {
    text-align: center;
    color: #cc0000; //width:100px;
    padding-left: 10px;
    display: inline-block;
}

.tvall img {
    margin: 0 2px 0 2px;
}

table tr.rTopBorder td {
    border-top: solid 1px #cccccc;
}

table tr.rBottomBorder td {
    border-bottom: solid 1px #cccccc;
}

table tr td.cRightBorder,
.cRightBorder {
    border-right: solid 1px #cccccc;
}

.rRightBorder {
    border-right: solid 1px #cccccc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

table tr td.cLeftBorder {
    border-left: solid 1px #cccccc;
}

/* generic header start */

div.oHeader {
    height: 30px;
    width: 635px;
    background-color: #65ab3b;
    text-align: left;
    display: table;
}

.normalheader img {
    vertical-align: top;
}

.normalheader .left {
    padding-left: 10px;
}

.normalheader .right>span,
.normalheader .left>span {
    display: block;
    float: left;
    padding: 3px 3px 0 0;
    line-height: 15px;
}

div.oHeader .normalheader {
    padding: 5px 0;
}

div.oHeader .tblHeader {
    height: 30px;
    background-color: #65ab3b;
    width: 100%;
}

div.oHeader .cTitle {
    text-align: left;
}

div.oHeader .addslip img {
    padding: none;
    margin: none;
    height: 21px;
}

div.oHeader a.nolnk {
    padding: 0 3px;
}

div.oHeader a.nolnk:hover {
    text-decoration: none;
}

div.oHeader .tblHeader,
div.oHeader .tblHeader a {
    color: #ffffff;
    vertical-align: middle;
}

table.tblHeader tr td img {
    display: inline-block;
    vertical-align: top;
}

.tblHeader .cDelim {
    display: inline-block;
}

div.oHeader .tblHeader .cDelim {
    padding-right: 5px;
    padding-top: 3px;
}

table.tblHeader tr td.cDelim img {
    margin: 0 5px 0 5px;
}

div.oHeader .tblHeader .cTitle {
    width: 280px;
    white-space: nowrap;
    float: left;
}

div.oHeader .tblHeader div.cActions {
    text-align: right;
    white-space: nowrap;
    padding-right: 2px;
    display: inline-block;
}

div.oHeader .tblHeader div.cAddSlip {
    display: inline-block;
}

.spicon {
    height: 15px;
    padding: 0 3px 0 3px;
}

.spoddsheader a .sphelp img.icon {
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 2px;
}

table.tblHeader img.icon,
.spoddsheader img.icon {
    height: 15px;
    width: 15px;
    padding: 0 2px 0 0;
}

/* hidden auto refresh button */

.refreshbutton {
    height: 30;
    text-align: left;
    display: none;
}

/* generic header end */

.topTitleBar {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 15px;
    padding: 4px 5px 4px 5px;
    background-color: #65AB3B;
    height: 30px;
}

.titleWhite {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 15px;
    text-decoration: none;
}

/* generic style for odds page end */

/* fix original css start */

/* left nav */

.strong {
    font-weight: bold;
}

#oddsMenu table {
    width: 120px;
}

#oddsMenu table tr td.title strong {
    width: 90px;
    padding-left: 7px;
}

#oddsMenu table tr td.leftNavArrow {
    padding-left: 9px;
    padding-top: 10px;
}

#oddsMenu table tr td.leftNav {
    padding-left: 5px;
}

/* main content */

#footballcontentcontainer td.content {
    padding: 0;
    background-color: #ffffff;
}

#footballcontentcontainer td.content #footballmaincontent {
    background-color: #ffffff;
    padding-right: 5px;
}

/* top menu */

div.remark {
    text-align: left;
}

tr.topTitleBar td.title div {
    color: #ffffff;
}

/* fix original css end */

/* multiple line*/

table tr.rAlt0 td.tgIndMl,
table tr.rAlt1 td.tgIndMl {
    border-left: none;
}

table.dMixHeaderTable.dMixSCHeader {
    background-color: #C1DDA8;
    cursor: pointer;
}

table.dMixHeaderTable.dMixSCHeader td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.oddsMixAllup.oddsSCMixAllup .tgCoupon {
    background-color: #E3F2C7;
    margin: 0px;
}

.oddsMixAllup.oddsSCMixAllup div.dOdds {
    padding: 0px;
}

.oddsMixAllup span.spoddsheader {
    padding-left: 10px;
}

#oHeader_MIXALLUP table.tblHeader,
#oHeader_MIXALLUPSHORTCUT table.tblHeader {
    width: 100%;
}

.footballCH .lseOdds {
    width: 26px;
    display: inline-block;
}