/*odds dhcp*/

.oddsHead {
    color: #333333;
    line-height: 15px;
    text-decoration: none;
    background-color: #FFFFFF;
}

.oddsHead td {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
}

.oddsContent1 {
    color: #333333;
    line-height: 15px;
    text-decoration: none;
    background-color: #FFFFFF;
}

.oddsContent1 td {
    padding-top: 3px;
    padding-bottom: 3px;
    border-right: #FFFFFF 1px solid;
}

.oddsContent2 {
    color: #333333;
    line-height: 15px;
    text-decoration: none;
    background-color: #ebebeb;
}

.oddsContent2 td {
    padding-top: 3px;
    padding-bottom: 3px;
    border-right: #FFFFFF 1px solid;
}

.matchLeg {
    /*width: 10%;*/
    width: 60px;
    text-align: center;
}

.matchID {
    /*width: 10%;*/
    width: 60px;
    text-align: center;
}

.matchNum {
    /*width: 15%;*/
    width: 70px;
    padding-left: 5px;
}

.matchLeague {
    width: 5%;
    width: 20px;
    padding-left: 5px;
}

.matchTeam {
    padding-left: 5px;
}

.center {
    text-align: center;
}

.space2 {
    padding-top: 5px;
}

.space4 {
    padding-bottom: 5px;
}

.separator2 {
    width: 100%;
    height: 2px;
    background-color: #65AB3B;
    font-size: 3px;
}

.remark {
    margin: 5px 0;
}

.remark div {
    padding: 2px 0;
}

.right {
    text-align: right;
}

.addslip {
    text-align: right;
    padding: 5px 5px 5px 0;
    cursor: pointer;
}

.noinfo {
    height: 150px;
    width: 635px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.pariOddsInCoupon {
    display: table;
    margin-bottom: 3px;
}

/*dividend*/

.yellowBar {
    color: #333333;
    line-height: 15px;
    height: 20px;
    background-color: #FCF3D9;
}

.yellowBar td {
    border-right: solid 1px #ffffff;
    padding: 4px 7px 4px 10px;
}

.tdDate {
    width: 28%;
    vertical-align: middle;
}

.tdInv {
    width: 20%;
    vertical-align: middle;
}

.tdJackpot {
    width: 20%;
    vertical-align: middle;
}

.tdEsst {
    width: 32%;
    vertical-align: middle;
}

.tdBorderTop {
    border-top: solid 1px #CCCCCC;
}

.whiteBar {
    color: #333333;
    line-height: 15px;
    padding: 5px 7px 5px 10px;
    background-color: #FFFFFF;
}

/*score*/

.grayBar {
    color: #333333;
    padding: 4px 7px 4px 10px;
    background-color: #E5E5E5;
    border-right: 1px solid #CCCCCC;
}

.borderT {
    border-top: 1px solid #CCCCCC;
}

.tdProgress {
    width: 1%;
}

.tdHAD {
    width: 33%;
    color: #333333;
    line-height: 15px;
    text-decoration: none;
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    text-align: center;
    padding: 5px;
}

.tdScore {
    width: 16%;
}

.tdSelect {
    width: 17%;
}

.tdAll {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    line-height: 15px;
    text-decoration: none;
    background-color: #FFFFFF;
    text-align: center;
}

.tdAll td {
    padding: 3px 5px 3px 5px;
    border-top: solid 1px #cccccc;
}

.subTitle {
    color: #333333;
    line-height: 15px;
    padding: 2px 7px 2px 10px;
    background-color: #C1DDA8;
    height: 23px;
    cursor: pointer;
}

.subTitle img {
    vertical-align: middle;
}

.subTitle span {
    margin-left: 3px;
    padding: 3px;
}

.leg {
    margin-top: 5px;
    margin-left: 10px;
}

/*odds hfmp*/

.tblHead {
    color: #333333;
    line-height: 15px;
    text-decoration: none;
    background-color: #FFFFFF;
}

.tblHead td {
    border-bottom: solid 1px #cccccc;
    border-top: solid 1px #cccccc;
    padding-top: 3px;
    padding-bottom: 3px;
}

.tblHead2 {
    color: #333333;
    line-height: 15px;
    text-decoration: none;
    text-align: center;
}

.tblHead2 td {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: solid 1px #cccccc;
}

.tdHightLight {
    background-color: #ebebeb;
}

.tdTeam {
    width: 25%;
    text-align: center;
}

/*header*/

.headerBar {
    color: #FFFFFF;
    line-height: 15px;
    background-color: #65AB3B;
    height: 30px;
}

#divTool {
    float: right;
}

#divTool img {
    float: left;
    margin: 2px 5px 3px 2px;
    cursor: pointer;
}

#divTool a {
    display: block;
    float: left;
    margin: 2px 2px 3px 5px;
    color: #ffffff;
}

.hdTitle div {
    /*float: left;*/
    margin: 2px 2px 3px 2px;
    font-weight: bold;
    display: inline-block;
}

.hdTitle img {
    cursor: pointer;
    border: 0;
    margin: 2px 0 3px 0;
}

.stroke {
    width: 1px;
    padding: 2px 5px 2px 5px;
}

#btn_addslip {
    float: left;
    margin-top: 0;
    cursor: pointer;
}

/*cal*/

.tblCal {
    border: 1px solid #999999;
}

.trCal {
    line-height: 15px;
    height: 23px;
    cursor: pointer;
}

.btn2 {
    padding-left: 5px;
    width: 5%;
}

.btn3 {
    width: 30%;
    padding-right: 5px;
    text-align: right;
}

.btn3 img {
    border: 0;
    margin: 3px 2px 3px 3px;
}

.betTxt {
    width: 10%;
    padding: 0 5px 0 5px;
}

.betTxt input {
    width: 100px;
}

.tdCal {
    padding-left: 10px;
}

.tdUnit {
    width: 30%;
    text-align: right;
}

.grayBar2 {
    color: #333333;
    background-color: #E5E5E5;
}

.grayBar2 td {
    border-right: solid 1px #ffffff;
    text-align: center;
}

#trBet td,
#trBet2 td {
    padding: 5px 3px 4px 3px;
}

.tblCont {}

.tblCont td {
    line-height: 15px;
    padding: 4px 7px 4px 10px;
    text-align: center;
}

.totalBet {
    width: 33%;
}

.unitBet {
    width: 33%;
}

.remark {
    margin: 5px 5px;
}

.remark div {
    padding: 2px;
}

/*result dhcp*/

.matchDate {
    /*width: 15%;*/
    width: 90px;
    text-align: center;
}

.matchHalf {
    /*width: 10%;*/
    width: 60px;
    text-align: center;
}

.matchFull {
    /*width: 10%;*/
    width: 60px;
    text-align: center;
}

.matchFT>div.void {
    width: 120px;
    display: inline-block !important;
    text-align: center;
}

.resHalf {
    width: 90px;
    text-align: center;
}

.resFull {
    width: 90px;
    text-align: center;
}

.matchDetail {
    width: 33px;
    text-align: center;
}

.matchFGS {
    width: 30%;
    text-align: center;
}

.matchOdds {
    width: 33px;
    text-align: center;
}

.matchAll {
    width: 80px;
}

.void,
.red,
.red a,
.lblExtraTime.void {
    color: #CC0000;
}

.black {
    color: #333333;
}

.bold {
    font-weight: bold;
}

.space3 {
    padding: 10px 0 5px 10px;
}

/*pager*/

.pager {
    float: left;
    width: 100%;
    padding: 5px 0 5px 0;
}

.pageInfo {
    float: left;
    width: 240px;
}

.pageNum {
    float: right;
    width: 390px;
    text-align: right;
    position: relative;
}

.pageNum b,
.pageNum a {
    display: inline-block;
    padding: 0 5px;
    text-align: center;
}

.pageNum a {
    cursor: pointer;
}

/*tourn*/

.selNo {
    margin-right: 10px;
}

.selTeam {
    width: 50%;
}

.tournCont {
    color: #333333;
    line-height: 15px;
    text-decoration: none;
    background-color: #ebebeb;
    border-right: #FFFFFF 1px solid;
    display: table;
    width: 100%;
}

.contHead .spcNo,
.tournCont .spcNo {
    width: 15%;
}

.contHead .spcQuestion,
.tournCont .spcQuestion {
    width: 60%;
}

.contHead .spcAnswer,
.tournCont .spcAnswer {
    width: 25%;
}

.tableCell.crefund {
    width: 20%;
}

.tournCont .tableCell {
    border-right: 1px solid #FFFFFF;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: middle;
}

.tournCont2 {
    color: #333333;
    line-height: 15px;
    text-decoration: none;
    background-color: #ffffff;
    border-right: #FFFFFF 1px solid;
    padding-top: 3px;
    padding-bottom: 3px;
}

.contHead {
    color: #333333;
    line-height: 15px;
    text-decoration: none;
    background-color: #FFFFFF;
    padding: 3px 0px 3px 0px;
    border-bottom: solid 1px #cccccc;
    text-align: center;
    display: table;
    width: 100%;
}

.contHead .tableCell {
    vertical-align: middle;
}

.contHead2 {
    color: #333333;
    line-height: 15px;
    text-decoration: none;
    text-align: center;
}

.contHead2 td {
    border-bottom: solid 1px #cccccc;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

.contHead3 {
    color: #333333;
    line-height: 15px;
    text-decoration: none;
}

.contHead3 td {
    padding: 3px 5px 3px 5px;
    text-align: center;
}

.contHead4 {
    color: #333333;
    line-height: 15px;
    text-decoration: none;
    background-color: #FFFFFF;
}

.contHead4 td {
    padding: 3px 5px 3px 5px;
    border-bottom: solid 1px #cccccc;
    text-align: center;
}

.refund {
    color: #CC0000;
}

.refundAll {
    color: #CC0000;
    font-weight: bold;
    text-align: center;
}

.refundGroup {
    color: #CC0000;
    text-align: left;
}

.refundAllGroup {
    color: #CC0000;
    font-weight: bold;
    text-align: left;
}

.grpNo {
    width: 20%;
    text-align: center;
}

.grpName {
    width: 20%;
    text-align: center;
}

.winner {
    padding-left: 10px;
}

.tdRefund {
    width: 50%;
}

.tdDiv {
    width: 25%;
}

.oddsContent2 td.hfmp_cvenue {
    border-left: none;
}

/*** match results page team vs teams cell ****/

.resteamvs {
    width: 250px;
}

.lblExtraTime {
    color: #E88858;
}

div#dPoolTable {
    display: table;
    padding-top: 4px;
}

div#dPoolTable .tableCell {
    vertical-align: middle;
}

.tblDHCP div#dPoolTable .tableCell.matchLeg {
    width: 61px;
}

.tblDHCP div#dPoolTable .tableCell.matchNum {
    width: 76px;
}

.tblDHCP div#dPoolTable .tableCell.matchLeague {
    width: 25px;
}

.tblDHCP div#dPoolTable .tableCell.matchTeam {
    width: 475px;
}

.tblDHCP div#dPoolTable .matchTeamName {
    float: left;
    width: 445px;
}

.tblDHCP div#dPoolTable .tableCell {
    padding: 4px;
}

.tblHFMP div#dPoolTable .tableCell.matchLeg {
    min-width: 50px;
}

.tblHFMP div#dPoolTable .tableCell.matchNum {
    min-width: 66px;
    text-align: left;
}

.tblHFMP div#dPoolTable .tableCell.matchLeague {
    width: 25px;
    padding: 0px;
}

.tblHFMP div#dPoolTable .couponRow .tableCell.matchTeam {
    width: 475px;
    text-align: left;
}

.tblHFMP div#dPoolTable .matchTeamName {
    float: left;
    width: 120px;
}

.tblHFMP div#dPoolTable .tableCell {
    padding: 0 4px;
    min-width: 27px;
    text-align: center;
}

.tblHFMP .cborder {
    border-bottom: solid 1px #cccccc;
}

#dPoolTable .allSelections {
    display: table;
    min-width: 255px;
    table-layout: fixed;
    vertical-align: middle;
}

div#dPoolTable .tableCell.allSelections {
    padding: 0px;
}

div#dPoolTable .tableCell.allSelections .codds {
    padding: 4px;
    text-align: center;
    display: table-cell;
}

.tblHFMP div#dPoolTable .tableCell.allSelections .codds {
    padding: 4px;
    text-align: center;
    display: table-cell;
    width: 28px;
}

.tblPari .coddsSelections>div,
.tblPari .allSelections>.tableCell {
    border-left: 0;
    border-right: solid 1px #FFFFFF;
}

.tblPari .cvenue {
    float: right;
    vertical-align: middle;
}

.tblPari .tableCell.matchLeg {
    width: 52px;
    text-align: center;
}

.tblPari.tblHFMP .tableCell.matchLeg {
    width: 62px;
}

.tblPari .tableCell.matchNum {
    width: 67px;
}

.tblPari.tblHFMP .tableCell.matchTeam {
    width: 265px;
}

.tblPari.tblHFMP .tableCell.allSelections {
    width: 262px;
}

.tblPari .tableCell.matchTeam {
    width: 465px;
}

.tblPari .tblHead .tableCell.matchTeam {
    text-align: center;
}

.tblPari .tableCell .tableRow.allSelections {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.dContentResult div.dMixHeader {
    padding: 2px 0 5px 0;
}

.dContentResult .oddsHIL .coddsSelections .cline,
.dContentResult .oddsHILINPLAY .coddsSelections .cline,
.dContentResult .oddsCHL .coddsSelections .cline,
.dContentResult .oddsCHLINPLAY .coddsSelections .cline,
.dContentResult .oddsFHL .coddsSelections .cline,
.dContentResult .oddsFHLINPLAY .coddsSelections .cline,
.dContentResult .oddsEHL .coddsSelections .cline,
.dContentResult .oddsECH .coddsSelections .cline {
    color: #CC0000;
}

.dContentResult .betTypeAllOdds .codds {
    padding: 0;
    height: 23px;
}